[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
typing = "*"
psycopg2 = "*"
faker = "*"
python-multipart = "*"

[packages.python-jose]
extras = ["cryptography"]
version = "*"
passlib = "*"
python-multipart = "*"

[packages.passlib]
extras = ["bcrypt"]
version = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.fastapi]
extras = [ "all",]
version = "*"
